
<div class="wim-nav">    
    <div class="usgsbanner">
        <a class="nav-branding" href="http://www.usgs.gov"><img src="http://wim.usgs.gov/website-assets/usgs-logo.png"></a>
        <span class="nav-title">Water Use Management System</span>
    </div>
    <nav *ngIf="loggedIn()" class="nav-main">
        <div class="nav-links">
            <a routerLink="/" routerLinkActive="active">Home</a>
            <a *ngIf="loggedInRole() == 'Administrator'" [routerLink]="['/settings']">Settings</a>
            <!--<li><a routerLink="/account" routerLinkActive="active">Your account</a></li> -->
            <a [routerLink]="['/login']">Log out</a>
        </div>
    </nav>
</div>
<br clear="all"/>

<div class="container" style="margin-top:65px">
    <toaster-container></toaster-container>
    <div *ngIf="showPageLoading" class="pageloader">Loading ...</div>
    <router-outlet></router-outlet>
</div>