/* You can add global styles to this file, and also import other style files */
label.req:after {
    content: '*';
    color: #de5030;
}
.sourceContainer {
    max-height: 750px;
    overflow: auto;
}