<!--<toaster-container></toaster-container>-->

<h1>Hi User {{currentUser}}!</h1>
<p>Welcome to Wateruse!!</p>
<div><label><span>Select your Region to get started</span></label></div>
<select name="chosenRegion" [(ngModel)]="chosenRegion" (ngModelChange)="onRegionSelect($event)">
    <option value=""></option>
    <option *ngFor="let r of regionList | sort: 'name'" [ngValue]="r.id">{{r.name}}</option>
</select>
<br />
<ngb-tabset *ngIf="sourceList?.length > 0">
<!-- SOURCES -->
    <ngb-tab title="Sources">
        <ng-template ngbTabContent>
            <ng-container *ngTemplateOutlet="innerTabset"></ng-container>            
        </ng-template>
    </ngb-tab>
<!-- TIMESERIES -->
    <ngb-tab title="Time Series">
        <ng-template ngbTabContent>
            <timeseries [regionId]="chosenRegionID"></timeseries>         
        </ng-template>
    </ngb-tab>
</ngb-tabset>

<!-- inner source tabset for Sources List and Sources Batch Upload-->
<ng-template #innerTabset>
    <ngb-tabset>
        <ngb-tab>
            <ng-template ngbTabTitle>
                Sources List
            </ng-template>
            <ng-template ngbTabContent>
                <sourcelist [regionId]="chosenRegionID" [sourceList]="sourceList"></sourcelist>
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle>
                Sources Batch Upload
            </ng-template>
            <ng-template ngbTabContent>
                <sourcebulk [regionId]="chosenRegionID"></sourcebulk>
            </ng-template>
        </ngb-tab>

    </ngb-tabset>
</ng-template>

<editsource [regionID]="chosenRegionID" (updatedSource)="createEditFinished($event)"></editsource>