<ng-template #editSource let-c="close" let-d="dismiss">  
    <div class="modal-header">
        <h3 class="modal-title">Source Information</h3>
    </div>
    <div class="modal-body">
        <form [formGroup]="sourceForm">                
            <!-- Facility Name* -->
            <div class="form-group required" [ngClass]="{'form-invalid': !sourceForm.get('facilityName').valid && sourceForm.get('facilityName').dirty}">
                <label class="req" for="facilityName">Facility Name:</label>
                <input class="form-control" type="text" placeholder="Facility Name" formControlName="facilityName" required>
                <div class="input-invalid-warning" *ngIf="!sourceForm.get('facilityName').valid && sourceForm.get('facilityName').dirty">Facility Name is required</div>
            </div>

            <!-- Facility Code* -->
            <div class="form-group required" [ngClass]="{'form-invalid': !sourceForm.get('facilityCode').valid && sourceForm.get('facilityCode').dirty}">
                <label class="req" for="facilityCode">Facility Code:</label>
                <input class="form-control" type="text" placeholder="Facility Code" formControlName="facilityCode" required>
                <div class="input-invalid-warning" *ngIf="!sourceForm.get('facilityCode').valid && sourceForm.get('facilityCode').dirty">Facility Code is required</div>
            </div>

            <!-- Source Name -->
            <div class="form-group">
                <label for="name">Source Name:</label>
                <input class="form-control" type="text" placeholder="Source Name" formControlName="name">
            </div>
            
            <!-- Source Type* -->
            <div class="form-group required" [ngClass]="{'form-invalid': !sourceForm.get('sourceTypeID').valid && sourceForm.get('sourceTypeID').dirty}">
                <label class="req" for="sourceTypeID">Source Type:</label>
                <select id="sourceTypeID" formControlName="sourceTypeID" [(ngModel)]="modalSource.sourceTypeID">
                    <option value=""></option>
                    <option *ngFor="let st of sourceTypeList | sort:'name'" [ngValue]="st.id">{{st.name}}</option>
                </select>
                <div class="input-invalid-warning" *ngIf="!sourceForm.get('sourceTypeID').valid && sourceForm.get('sourceTypeID').dirty">Source Type is required</div>  
            </div>
        
            <!-- Category Type -->
            <div class="form-group">
                <label for="catagoryTypeID">Category Type:</label>
                <select id="catagoryTypeID" formControlName="catagoryTypeID" [(ngModel)]="modalSource.catagoryTypeID">
                    <option value=""></option>
                    <option *ngFor="let ct of categoryTypeList | sort:'name'" [ngValue]="ct.id">{{ct.name}}</option>
                </select>
            </div>
        
            <!-- Station ID -->
            <div class="form-group">
                <label for="stationID">Station ID:</label>
                <input class="form-control" type="text" placeholder="Station ID" formControlName="stationID">
            </div>

            <!-- Location Parts -->
            <div formGroupName="location">
                <div class="form-group" [ngClass]="{'form-invalid': (!sourceForm.get('location').get('x').valid && sourceForm.get('location').get('x').dirty) || (!sourceForm.get('location').get('y').valid && sourceForm.get('location').get('y').dirty)}">
                    <label for="location" class="pull-left req">
                        Location in NAD83:
                        <span class="fa fa-question-circle" [ngbTooltip]="sourceTips.location" placement="right"></span>
                    </label>                    
                    <div class="col-xs-12 bottom-xs">
                        <div class="col-xs-2 offset-1"><label>Latitude:</label></div>
                        <div class="col-xs-5">
                            <input class="form-control" type="text" placeholder="" formControlName="y" required numberformat>
                            <div class="input-invalid-warning" *ngIf="!sourceForm.get('location').get('y').valid && sourceForm.get('location').get('y').dirty">Latitude are required</div>
                        </div>
                    </div>
                    <div class="col-xs-12 bottom-xs">
                        <div class="col-xs-2 offset-1"><label>Longitude:</label></div>
                        <div class="col-xs-5">
                            <input class="form-control" type="text" placeholder="" formControlName="x" required numberformat>
                            <div class="input-invalid-warning" *ngIf="!sourceForm.get('location').get('x').valid && sourceForm.get('location').get('x').dirty">Longitude are required</div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" (click)="d('clickedCancel')" class="btn-black">Cancel</button>
        <button type="button" *ngIf="modalSource.id == undefined" (click)="c(sourceForm)" [disabled]="!sourceForm.valid" class="btn-blue">Create</button>        
        <button type="button" [disabled]="!sourceForm.valid" *ngIf="modalSource.id != undefined" (click)="c(sourceForm.valid)" class="btn-blue">Save</button>
    </div>
</ng-template>